<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="Cater" connectionString="data source=G:\Files\Programming\.NET\.NET\DOT NET Learning\VB\04.Cater\01.CaterUI\ItcastCater.db;version=3" />
	</connectionStrings>
</configuration>